@font-face {
  font-family: 'Clash Display'; /* give the font a name */
  src: url('/Fonts/OTF/ClashDisplay-Medium.otf') format('truetype');
}
::selection {
  background:#f6f6f6; 
  color: black;         
}
html {
  scroll-behavior: smooth;
}
body {
  color: #f6f6f6;
  background-color: black;
  font-family: Clash Display, sans-serif;
  margin: 0px;
  height: 500vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}

/* header section */
header {
    height: 100vh;
}

/* navigation bar section */
.navbar {
    display: flex;
    align-items: center;
    height: 23vh;
    justify-content: space-between;
}
.logo {
    padding: 30px 0px;
    margin-left: 60px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
.hamMenu{
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 5%;
}
.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 80px;
    /*animate border later*/
    border-bottom: 1px solid;
    margin-right: 100px;
}
.navlinks a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 16px;
}
.navlinks a:hover {
    color: #5EEAD4; /* cyan color */
}
.hire{
    background-color: black;
    color: white;
    border: 0.2px solid rgba(255, 255, 255, 40%);
    padding: 10px 20px;
    border-radius: 5px;
}
.hire:hover {
    background-color:rgba(255, 255, 255, 15%);
    transition: 0.5s;
}

/* div class="stuffs" section */
.stuffs {
    display: flex;
    height: 65vh;
    margin-top: 12vh;
    margin-left: 60px;
}
.neon-text {
  color:#5EEAD4; /* cyan color */
  font-weight: bold;
}
.name {
    font-size: 3.5rem;
}
.professions {
    display: flex;
    margin-top: 0px;
    gap: 0px;
    font-size: 1.56rem;
}
.professions p{
    margin: 0px;
}
.dev {
    font-size: 25px;
    margin: 0px 0px 0px 120px;
}
.description {
    padding-top:30px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.socials{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 20px 0px;
}
.socials a {
    color: #f6f6f6;
    font-size: 20px;
}
.socials a:hover {
    color: #5EEAD4;
    transform: translateY(-4px);
    transition: 0.2s;
}
/* New CSS for image section */
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 77vh;
}






/*End of div class="stuffs" section */
/*End header section */


/* about section */
.about {
    background-color:#f6f6f6;
    color: rgb(11, 13, 16);
    height: 90vh;
    padding: 10vh;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
}

.Skills {
    background-color:#f6f6f6;
    height: 90vh;
}
.skills-container {
    background-color:black; 
    height: 90vh;
    padding: 10vh;
}
.wor {
    text-align: center;
    font-size: 6em;
    margin-bottom: 30px;
}
.te {
    font-size: 2em;
}
.res {
    text-align: center;
}
.imgres {
    width: 100%;
    height: 500px;
}
.cssbr{
    font-size:16px;
}
.scontainer {
    display: inline-flex;
    
   background: linear-gradient(
  140deg,
  rgb(32, 32, 32) 0%,
  rgb(32, 32, 32) 10%,
  rgb(0, 0, 0) 20%,
  rgb(0, 0, 0) 80%,
  rgb(32, 32, 32) 90%,
  rgb(32, 32, 32) 100%
);
    width: 45%;
    height: 250px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 70%);
    margin: 20px 0px;
}
.css{
    font-size: 2em;
    margin: 40px;
    font-weight: bold;
}
.csslogo {
    margin-left: 100px;
}
.otherskills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media (max-width: 768px) {
    .navlinks {
        display: none;
    }
    .logo {
        margin: 0 0 0 0%;
    }
    .name {
        font-size: 2.0rem;
    }
    .professions {
        font-size: 1.2rem;
    }
    .description {
        padding-top:15px;
    } 
    .socials{
        margin: 10px 0px;
    }
    .stuffs {
        margin: 0 0 0 0%;
    }
    header{
        padding: 0 0 0 5%;
    }
    .navbar {
    height: 18vh;
    } 
    .hire2{
        margin: 20px 0px;
    }
}

@media (min-width: 768px) {
    .hamMenu {
        display: none;
    }
    .hire2{
        display: none;
    }
}