:root {
    --whitecolor :#f6f6f6;
    --blackcolor : black;
    --craycolor: #5EEAD4;
}
html {
    scroll-behavior: smooth;
}
body {
  color: var(--whitecolor);
  background-color: black;
  font-family: Clash Display, sans-serif;
  margin: 0px;
  height: 500vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
::selection {
  background: var(--whitecolor); 
  color: var(--blackcolor);         
}

/* header section */
header {
    background-color: var(--blackcolor);
    margin-left: 6vw;
    height: 100vh;
}

/* navigation bar section */
.scroll {
    position: sticky;
    top: 0;
}
.navbar {
    display: flex;
    align-items: center;
    height: 130px;
    justify-content: space-between;
}
.logo {
    padding: 30px 0px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
.hamMenu {
    width: 60px;
    height: 60px;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    background-color: transparent;
    border: none;
}
.hamMenu:hover {
    background-color:rgba(255, 255, 255, 15%);
}
.hamline {
    width: 30px;
    height: 2px;
    background-color: var(--whitecolor);
    margin: 3px;
    border-radius: 100px;
}
.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 100px;
    /*animate border later*/
    border-bottom: 1px solid;
    margin-right: 10vw;
}
.navlinks a {
    text-decoration: none;
    color: var(--whitecolor);
    font-size: 1rem;
}
.navlinks a:hover {
    color: var(--craycolor);/* cyan color */
}
.Resume {
    background-color: var(--blackcolor);
    color: var(--whitecolor);
    border: 1px solid rgba(255, 255, 255, 40%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
.Resume:hover {
    background-color:rgba(255, 255, 255, 15%);
    transition: 0.5s;
}

.header {
    display: flex;
    justify-content: center;
}
/* div hero section */
.hero {
    display: flex;
    height: 65vh;
    margin-top: 15vh;
}
.intro {
    width: 70%;
}
.neon-text {
  color: var(--craycolor); /* cyan color */
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  font-size: 22px;
}
.name {
    font-size: 3.5rem;
}
.professions p {
    margin: 0px;
}
.description {
    padding-top:10px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.nicedashdiv { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.nicedash {
    width: 3vw;
    height: 1px;
    background-color: var(--whitecolor);
}
.socials {
    display: flex;
    justify-content: space-between;
    width: 9.375rem;
    margin: 20px 0px;
}
.socials a {
    color: var(--whitecolor);
    font-size: 1.5rem;
}
.socials a:hover {
    color: var(--craycolor);
    transform: translateY(-4px);
    transition: 0.2s;
}
/* New CSS for image section */



/* about section */
.navbar2div {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: flex-end;
    margin-top: 10vh;
    position: sticky;
    z-index: 10;
    top: 10vh; 
}

.hamMenu2 {
    width: 60px;
    height: 60px;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    background-color: transparent;
    border: none;
}
.hamMenu2:hover {
    background-color:rgba(255, 255, 255, 15%);
}
.hamline2 {
    width: 30px;
    height: 2px;
    background-color: var(--blackcolor);
    margin: 3px;
    border-radius: 100px;
}
.navlinks2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    color: black;
    background-color:rgba(255, 255, 255, 15%);

}
.navlinks2 a {
    text-decoration: none;
    color: var(--blackcolor);
    font-size: 1rem;
}
.navlinks2 a:hover {
    color: var(--craycolor);/* cyan color */
}
.Resume_a {
    background-color: var(--blackcolor);
    color: var(--whitecolor);
    border: 1px solid var(--blackcolor);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
.Resume_a:hover {
    background-color:#333333;
    transition: 0.5s;
    
}

.maincontent {
    background-color: #f6f6f6;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10vh;
}
.about {
  background-color: var(--whitecolor);
  color: rgb(11, 13, 16);
  height: 90vh;
  padding: 5vh 0vw 5vh 6vw;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
}


/* Skills section */
.Skills {
    background-color:var(--blackcolor);
    position: relative;
    height: 700vh;
}
.skills-container {
    background-color: var(--blackcolor);
    padding: 50px 0vw 0vw 0vw;
}
.skillshead {
    text-align: center;
    font-size: 7em;
    margin-bottom: 30px;
}
.Res {
    text-align: center;
}
.Resimg {
    width: 100%;
    height: 800px;
}
.otherskills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vw;
}
.scontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 37vh;
    border-radius: 20px;
    /*animate border later*/
    border: 1px solid var(--craycolor);
    margin: 0px 0px;
    box-shadow: 0 0 15px rgba(94, 234, 212, 25%);

}
.scontainer:hover {
    box-shadow: 0px 10px 15px rgba(94, 234, 212, 25%);
    transform: scale(1.03);
    transition: 0.3s;
}

.Reactimg {
    width: 50%;
    aspect-ratio: 1/1;
}

/* midrange laptops */
@media(min-width:1920px){
    html {
      font-size: 25px;
    } 
    .navbar {
      height: 170px;
    }
    .navlinks {
      height: 150px;
      border-bottom: 1.5px solid var(--whitecolor);
    }
    .hire {
      padding: 20px 40px;
      border: 1.5px solid rgba(255, 255, 255, 40%);
   }
}

/*medium large laptops*/
@media(min-width:2560px){
    html{
      font-size: 35px;
    }
    .navbar {
      height: 240px;
    }
    .navlinks {
      height: 220px;
      border-bottom: 2px solid var(--whitecolor);
    }
    .hire {
      padding: 20px 40px;
      border: 2px solid rgba(255, 255, 255, 40%);
   }
}

/* large laptops*/
@media(min-width: 3840px){
    html{
      font-size: 45px;
    }
    .navbar {
      height: 320px;
    }
    .navlinks {
      height: 300px;
      border-bottom: 4px solid var(--whitecolor);
    }
    .hire {
      padding: 30px 50px;
      border: 4px solid rgba(255, 255, 255, 40%);
   }
}

/*phone width*/
@media (max-width: 932px) {
    .navbar {
        height: 120px;
    }
    .navlinks, .navlinks2 {
        display: none;
    }
    .name {
        font-size: 2.0rem;
    }
    .professions {
        font-size: 1.2rem;
    }
    .description {
        padding-top:15px;
    } 
    .socials{
        margin: 10px 0px;
    }
    .hero {
        margin: 0 0 0 0;
    }
    header{
        padding: 0 0 0 2vw;
    }
    .Resume2{
        margin: 20px 0px;
    }
    .skills-container {
        padding: 50px 1vw 1vw 1vw;
    }
    .scontainer {
        width: 80%;
        height: 250px;
        margin: 10px 0px;
    }
    .React, 
    .JavaScript, 
    .TypeScript, 
    .Nodejs,
    .GitHub {
       font-size: 1.5rem;
    }
    .about {
        padding: 5vh 0vw 5vh 8vw; 
    }
}

@media (min-width: 933px) {
    .hamMenu, .hamMenu2 {
        display: none;
    }
    .Resume2{
        display: none;
    }
}